.logo{
    width: 8%;
}

.about{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    color: white;
}

.std{
    width: 25%;
    float: left;
    margin-left: 5%;
    border-radius: 10%;
    margin-right: 5%;
}

.aboutp{
    padding: 5%;
    padding-left: 10%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    color: white;
}

.cem{
    width: 55%;
    margin-left: 23%;
    border-radius: 15%;
}

.qt{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    color: rgb(40, 179, 58);
    text-align: center;
}

.vish{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    color: rgb(40, 179, 58);
    text-align: center;
}

.visp{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
    color: rgb(40, 179, 58);
    text-align: center;
}

.box{
    width: 80%;
    height: 500px;
    padding: 10px;
    border: 5px solid rgb(60, 255, 0);
    border-radius: 15%;
    margin: 0;
    margin-left: 10%;
  }

.bg-body-tertiary{
    background-color: black !important;
    padding: 0%;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color:  #198754;
    --bs-navbar-hover-color:#198754;
    --bs-navbar-disabled-color:  #198754;
    --bs-navbar-active-color: rgb(8, 199, 49);
    --bs-navbar-brand-padding-y: 5.3125rem;
 
}
body{
    background-color: black !important;
} 








@media screen and (max-width: 600px){
    .iedch1{
        font-size: 500%;
    }
    .iedch2{
        font-size: 200%;
    }

    .logo{
        width: 25%;
    }
    
}