.logo{
    width: 8%;
}

.about{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    color: white;
}

.std{
    width: 25%;
    float: left;
    margin-left: 5%;
    border-radius: 10%;
    margin-right: 5%;
}

.aboutp{
    padding: 5%;
    padding-left: 10%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    color: white;
}

.cem{
    width: 55%;
    margin-left: 23%;
    border-radius: 15%;
}

.qt{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    color: rgb(40, 179, 58);
    text-align: center;
}

.vish{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    color: rgb(40, 179, 58);
    text-align: center;
}

.visp{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
    color: rgb(40, 179, 58);
    text-align: center;
}

.boxv{
    width: 80%;
    height: 500px;
    padding: 10px;
    border: 5px solid rgb(60, 255, 0);
    border-radius: 15%;
    margin: 0;
    margin-left: 10%;
  }

  .boxm{
    width: 80%;
    height: 350px;
    padding: 10px;
    border: 5px solid rgb(60, 255, 0);
    border-radius: 15%;
    margin: 0;
    margin-left: 10%;
  }

.bg-body-tertiary{
    background-color: black !important;
    padding: 0%;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color:  #198754;
    --bs-navbar-hover-color:#198754;
    --bs-navbar-disabled-color:  #198754;
    --bs-navbar-active-color: rgb(8, 199, 49);
    --bs-navbar-brand-padding-y: 5.3125rem;
 
}
body{
    background-color: black !important;
} 


/************FOOTER************/

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}



.box__footer h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    color: #198743;
}

.box__footer a{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    color: #198743;
}
.box__footer pre{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: #198743;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 30px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #198743;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color:#198743;
}

.ftlogo{
    margin-top: -10%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */






@media screen and (max-width: 600px){
    .iedch1{
        font-size: 500%;
    }
    .iedch2{
        font-size: 200%;
    }

    .logo{
        width: 25%;
    }

    .qt{
        font-size: 300%;
    }

    .cem{
        width: 90%;
        margin-left: 5%;
        border-radius: 15%;
    }

    .about{
        font-size: 300%;
    }

    .std{
        width: 90%;
        float: none;
        margin-left: 5%;
        border-radius: 10%;
        margin-right: 5%;
    }

    .aboutp{
        padding: 5%;
        padding-left: 10%;
        font-size: 150%;
    }

    .vish{
        font-size: 250%;
    }

    .visp{
        font-size: 150%;
    }

    .boxv{
        width: 90%;
        height: 600px;
        padding: 10px;
        border: 5px solid rgb(60, 255, 0);
        border-radius: 15%;
        margin: 0;
        margin-left: 5%;
    }

    .boxm{
        width: 90%;
        height: 420px;
        padding: 10px;
        border: 5px solid rgb(60, 255, 0);
        border-radius: 15%;
        margin: 0;
        margin-left: 5%;
    }
    
}