.logo{
    width: 8%;
}

body{

    background-color: #000000 !important;
}

h1{
    color: #198743 !important;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500% !important;
}


.contact-left{
    flex-basis: 20%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-bottom: 30px;
}

.contact-left p i{
    color: #198743;margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}




.btn.btn2{
    display: inline-block;
    background: #198743;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}



.copyright i{
    color: #198743;
}

/* css for small screen */
 
nav .fa-solid{
    display: none;
}

@media screen and (max-width: 600px){

    .logo{
        width: 25%;
    }
}