.logo{
    width: 10%;
}

body{
    background-color: black !important;
}


.excomh{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    color: #1ea034;
}

.excom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}









@media screen and (max-width: 600px){
    .iedch1{
        font-size: 500%;
    }
    .iedch2{
        font-size: 200%;
    }

    .logo{
        width: 25%;
    }
    
    .excom{
        justify-content: center;
        flex-direction: column;
        padding-left: 14%;
    }
}