h1{
    color: #198743;
    font-size: 50px;
    
}
.abouth{
  
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 550%;
}

.aboutp{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  font-size: 200%;
}

.bill{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    color: #198743;
}

body{
    margin: 0%;
    padding: 0%;
}

header{

    padding: 0%;
    margin: 0%;
    height: 100px;
    
}

#bg{
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

.logo{
    width: 10%;
}

.bg-body-tertiary{
    background-color: black !important;
    padding: 0%;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color:  #198754;
    --bs-navbar-hover-color:#198754;
    --bs-navbar-disabled-color:  #198754;
    --bs-navbar-active-color: rgb(8, 199, 49);
    --bs-navbar-brand-padding-y: 5.3125rem;
 
}
.navbar-toggler-icon {
    color: #00ff62 !important;
}

.iedch1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1000%;
    color:  #198743;
    padding: 3%;
    padding-bottom:0%;
  }
  
.iedch2{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    color:  #198743;
    padding-left: 3%;
}

.btn-outline-success{
    margin-left: 3%;
}

.about{
    background-color: black;
}

.aboutb{
    margin-left: 42%;
}

.excomh{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
}

@media screen and (max-width: 600px){
    .iedch1{
        font-size: 500%;
    }
    .iedch2{
        font-size: 200%;
    }

    .logo{
        width: 25%;
    }

    .iedch1{
        font-size: 700%;
    }
    .iedch2{
        font-size: 250%;
    }
    
    .aboutp{
        font-size: 150%;
    }

    .abouth{
        font-size: 400%;
    }

    .bill{
        font-size: 200%;
    }

    .aboutb{
        margin-left: 30%;
    }
}